.characterCard-container {
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
  background-color: #86c345;
  font-family: $mainFont;
  box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  & img {
    width: 200px;
    border-radius: 20px;

    @include forTablet {
      width: 270px;
    }

    @include forPc {
      width: 240px;
    }
  }

  & h4 {
    font-size: 20px;
    background-color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    @include forTablet {
      font-size: 24px;
      width: 270px;
      height: 60px;
    }

    @include forPc {
      font-size: 24px;
      width: 240px;
      height: 60px;
    }
  }

  & p {
    font-size: 14px;

    @include forTablet {
      font-size: 20px;
    }

    @include forPc {
      font-size: 18px;
    }
  }

  & .characterCard-info {
    display: flex;
    justify-content: left;

    & img {
      width: 50px;
      height: 50px;
      padding: 10px;
    }
  }
}
