.characterCard-container {
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
  background-color: #86c345;

  & img {
    width: 200px;
    border-radius: 20px;

    @include forTablet {
      width: 270px;
    }

    @include forPc {
      width: 240px;
    }
  }

  & h4 {
    font-size: 16px;
    background-color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    @include forTablet {
      font-size: 20px;
      width: 270px;
      height: 60px;
    }

    @include forPc {
      font-size: 22px;
      width: 240px;
      height: 60px;
    }
  }

  & p {
    font-size: 14px;

    @include forTablet {
      font-size: 20px;
    }

    @include forPc {
      font-size: 18px;
    }
  }

  & .characterCard-info {
    display: flex;
    justify-content: end;

    & img {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }
}
