.filterSearch-container {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include forTablet {
    margin-top: 50px;
    font-size: 30px;
  }
  @include forPc {
    margin-top: 60px;
    font-size: 40px;
  }

  & input {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 50vw;
    background-color: black;
    color: white;
    padding-left: 15px;

    @include forTablet {
      font-size: 26px;
    }
    @include forPc {
      font-size: 30px;
    }
  }
}
