.pageNotFound {
  text-align: center;
  /*     margin: 0px auto; */
  height: 100vh;
  width: 100vw;
  line-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;

  & img {
    background: no-repeat;
    width: 260px;
    vertical-align: middle;

    @include forTablet {
      width: 560px;
    }

    @include forPc {
      width: 660px;
    }
  }
}

.backNotFound-container {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  float: left;
  padding-left: 20px;

  @include forTablet {
    font-size: 30px;
  }

  @include forPc {
    font-size: 70px;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}
